/* header /
    / Estilo base para el contenedor del menú */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Estable3ce la altura mínima del viewport */
}

body {
  background-color: #C3C5C4;
}

main {
  height: 100%;
  margin-bottom: 50px;
  flex-grow: 1;
}