.contenedorReserva {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: url('../img/formReserva.jpg') no-repeat;
    background-size: cover;
}

.formBoxReserva {
    border: 2px solid black;
    text-align: center;
    align-items: center;
    color: aliceblue;
    padding: 50px 150px;
    color: red;
    padding: 30px;
    border-radius: 50px;
}

.formBoxReserva h2 {
    background-color: #e90000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.botonReserva {
    align-items: center;
    text-align: center;
    border: 2px solid wheat;
    width: 100%;
    background-color: red;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font: 100px;
    border-radius: 60px;
}

.quantity-button {
    background-color: rgb(255, 0, 0);
}

input {
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: large;
}

.formBoxReserva .inputBoxReserva {
    margin: 30px;
    border-bottom: 2px solid #FF2C25;
    border-bottom: 2px solid #fff;
}


.formBoxReserva .inputBoxReserva p {
    color: #ffffff;
    margin-top: 10px;
}