.filtro container {
  background-color: #C3C5C4;
  padding: 20px;
  border-radius: 5px;
}

.bg-filtro-container {
  background-color: #C3C5C4;
  padding: 20px;
  border-radius: 5px;
}

body {
  background-color: black;
}