@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.contenedorReserva {
  align-items: center;
  min-height: 100vh;
  background: url('../img/formReserva.jpg') no-repeat;
  background-size: cover;
}

.formBoxReserva {
  width: 70%;
  position: relative;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Añadido para apilar elementos verticalmente */
}

.datos {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 15px;
}

.formBoxReserva h2 {
  color: #FF2C25;
  text-align: center;
  font-size: 32px;
}

.formBoxReserva .inputBoxReserva {
  position: relative;
  margin: 30px;
  border-bottom: 2px solid #FF2C25;
  border-bottom: 2px solid #fff;
  display: flex;
  flex-direction: column;
  /* Añadido para apilar elementos verticalmente */
}

.formBoxReserva .inputBoxReserva input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 20px 0 5px;
  color: #fff;
  font-size: 16px;
}

.formBoxReserva .inputBoxReserva label {
  color: #FF2C25;
  margin-bottom: 10px;
  /* Espacio entre etiqueta y campo de entrada */
}

.formBoxReserva .inputBoxReserva p {
  color: #ffffff;
  margin-top: 10px;
  /* Espacio entre campo de entrada y párrafo */
}

.botonReserva {
  color: #fff;
  background: #FF2C25;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 60px;
  margin-bottom: 10px;

  /* Espacio entre el último elemento y el botón */
}

.botonReserva:hover {
  transform: scale(1.1);
  /* Aumenta el tamaño en un 10% en el hover */
  transition: transform 0.3s;
  /* Agrega una transición suave */
}

.mercado-pago-button {
  /* Agrega estilos de posición, margen y alineación según tus necesidades */
  position: relative;
  top: 10px;
  /* Ajusta la posición vertical */
  left: 10px;
  /* Ajusta la posición horizontal */
  margin-right: 20px;
  /* Añade margen derecho para separar el botón */
}

/* Cambia el color de fondo y texto del botón */
.mercado-pago-button button {
  background-color: #1e4b7c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Cambia el color de fondo del botón al pasar el cursor sobre él */
.mercado-pago-button button:hover {
  background-color: #0056b3;
}

/* Estilos para el ícono del carrito */
.mercado-pago-button box-icon {
  margin-right: 5px;
}

.selectedButton {
  background-color: #FF2C25;
  /* Puedes ajustar el color según tus preferencias */
  color: #000;
  /* Color del texto */
}