@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.contenedorRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../img/formRegister.jpg');
}

.formBoxRegister {
  position: relative;
  width: 400px;
  border: 2px solid rgba(255, 255, 2550.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBoxRegister h2 {
  color: #fff;
  text-align: center;
  font-size: 32px;
}

.formBoxRegister .inputBoxRegister {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.formBoxRegister .inputBoxRegister input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 20px 0 5px;
  color: #fff;
  font-size: 16px;
}

i {
  position: absolute;
  color: #fff;
  top: 13px;
  right: 0;
}

input::placeholder {
  color: #fff;
}

.botonRegister {
  color: #fff;
  background: blue;
  width: 100%;
  height: 50px;
  border: 5px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba(0, 0, 0, .5);
}

.groupRegister {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.groupRegister span a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.groupRegister a:focus {
  text-decoration: underline;
}