@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.contenedorReserva {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../img/formReserva.jpg') no-repeat;
  background-size: cover;
}

.formBoxReserva {
  position: relative;

  border: 5px solid rgba(0, 0, 0, 0.5);
  height: 70vh;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Añadido para apilar elementos verticalmente */
}

.datos{
  display:flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom:  15px;
}
.formBoxReserva h2 {
  color: #FF2C25;
  text-align: center;
  font-size: 32px;
}

.formBoxReserva .inputBoxReserva {
  position: relative;
  margin: 30px;
  width: 310px;
  border-bottom: 2px solid #FF2C25;
  border-bottom: 2px solid #fff;
  display: flex;
  flex-direction: column;
  /* Añadido para apilar elementos verticalmente */
}

.formBoxReserva .inputBoxReserva input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 20px 0 5px;
  color: #fff;
  font-size: 16px;
}

.formBoxReserva .inputBoxReserva label {
  color: #FF2C25;
  margin-bottom: 10px;
  /* Espacio entre etiqueta y campo de entrada */
}

.formBoxReserva .inputBoxReserva p {
  color: #ffffff;
  margin-top: 10px;
  /* Espacio entre campo de entrada y párrafo */
}

.botonReserva {
  color: #fff;
  background: #FF2C25;
  width: 25%;
  height: 50px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  
  /* Espacio entre el último elemento y el botón */
}
.botonReserva:hover {
  transform: scale(1.1); /* Aumenta el tamaño en un 10% en el hover */
  transition: transform 0.3s; /* Agrega una transición suave */
}
