@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.contenedorLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../img/formLogin.jpg') no-repeat;
  background-size: cover;
}

.formBoxLogin {
  position: relative;
  width: 400px;
  height: 50vh;
  border: 2px solid rgba(255, 255, 2550.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBoxLogin h2 {
  color: #fff;
  text-align: center;
  font-size: 32px;
}

.formBoxLogin .inputBoxLogin {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.formBoxLogin .inputBoxLogin input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 20px 0 5px;
  color: #fff;
  font-size: 16px;
}

input::placeholder {
  color: #fff;
}

.botonLogin {
  color: #fff;
  background: blue;
  width: 100%;
  height: 50px;
  border: 5px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba(0, 0, 0, .5);
}

.groupLogin {
  display: flex;
  justify-content: space-between;
}

.groupLogin span a {
  color: #fff;
  position: relative;
  top: 10px;
  text-decoration: none;
  font-weight: 500;
}

.groupLogin a:focus {
  text-decoration: underline;
}