nav {
  font-family: sans-serif;
  background-color: #FF2C25;
  color: aliceblue;
  padding: 10px;
  min-height: 70px;
}

header img {
  width: 50px;
}


.contimgtitu {
  background-color: #001011;
}


.titulo {
  margin: 0 auto;
  width: 100px;
}

.borde-colorBusqueda {
  border: 2px solid black;
}

.color-fondo {
  background-color: #c9d2d4;
}

#buscador::placeholder {
  color: black;
}

#buscador:hover::placeholder {
  color: white;
}

.color-fondo:hover {
  background-color: #000000;
  color: white;
}