nav {
  font-family: sans-serif;
  background-color: #FF2C25;
  color: aliceblue;
  padding: 10px;
  min-height: 70px;
}

header img {
  width: 50px;
}


.contimgtitu {
  background-color: #202529;
  margin-right: 50px;
}


.titulo {
  margin: 0 auto;
  width: 100px;
}

.borde-colorBusqueda {
  border: 2px solid #202529;
}

.color-fondo {
  background-color: #202529;
}

#buscador::placeholder {
  color: #ffffff;
}

#buscador:hover::placeholder {
  color: white;
}

.color-fondo:hover {
  background-color: #000000;
  color: white;
}
#lupa{
  color: #FF2C25;
}
#Buscador{
  background-color: #202529;
  border: 2px solid #202529;
  border-radius: 10px;
}