.imgInfoMovie {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 30px;
        /* Asegura que la imagen mantenga su proporción */
}



.bgInfoMovie {
    padding: 50px;
    background-color: #242222;
    color: white;
}


.infomovie {
    /* border: 2px solid; */
    background-color: #424242
}

.reserva {
    background-color: #ff0000;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
}
.reserva:hover {
    transform: scale(1.1); /* Aumenta el tamaño en un 10% en el hover */
    transition: transform 0.3s; /* Agrega una transición suave */
  }.seat:hover {
    transform: scale(1.1); /* Aumenta el tamaño en un 10% en el hover */
    transition: transform 0.3s; /* Agrega una transición suave */
  }
  
  

.trailer {
    background-color: #ff0000;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 5px;
}
.trailer:hover {
    transform: scale(1.1); /* Aumenta el tamaño en un 10% en el hover */
    transition: transform 0.3s; /* Agrega una transición suave */
  }
  


.movie-info {
    list-style: none;
    padding: 0;
}

.movie-info li {
    margin-bottom: 10px;
}

.lista {
    color: #2199a1;
    margin-right: 5px;
}