.imgInfoMovie {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 30px;
    /* Asegura que la imagen mantenga su proporción */
    
}

.bgInfoMovie {
    padding: 50px;
    background-color: #242222;
    color: white;
}
.col{
    background-color: #ff0000;
    padding: 15px;
    
}
.infomovie {
    /* border: 2px solid; */
    background-color: #424242;
}

.reserva {
    background-color: #ff0000;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
}

.reserva:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño en un 10% en el hover */
    transition: transform 0.3s;
    /* Agrega una transición suave */
}

.seat:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño en un 10% en el hover */
    transition: transform 0.3s;
    /* Agrega una transición suave */
}

.movie-info {
    list-style: none;
    padding: 0;
}

.movie-info li {
    margin-bottom: 10px;
}

.lista {
    color: #2199a1;
    margin-right: 5px;
}


/* Comentarios */

.usuario {
    border: 3px solid fuchsia;
    margin: 10px;
    padding: 7px;
    background-color: #424242;
    color: azure;
    text-align: center;
}

.Contenedor_comentario {
    align-items: center;
    text-align: center;
    display: grid;
    background-color: #242222;
    grid-template-rows: 1fr auto;
    grid-gap: 2px;
}


.perfil {
    width: 100%;

}

.card {
    border: 2px solid black;
    background-color: #424242;
    border-radius: 30px;
    color: white;
    margin: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card img {
    height: 55px;
    border-radius: 100px;
}


.agregarComentario h3 {
    font-size: large;
    color: rgb(134, 134, 134);
    font-family: Arial, Helvetica, sans-serif;
}

.agregarComentario .boton_comentario {
    background-color: #424242;
    color: white;
}