.tarjetas{
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.card-img{
height: 400px; 
}
.cards {
  margin: 10px;
  background-color: #202529;
  color: #fff;
  border: solid 1px #df1414;
  height: 590px;
  width:400px;  
}
.textoCard{
margin: 8px;
}
.cards:hover {
  transform: scale(1.1); /* Aumenta el tamaño en un 10% en el hover */
  transition: transform 0.3s; /* Agrega una transición suave */
  background: #39474f;
  border:solid 1px #e4dbdb;
}

#cineName{
  color: whitesmoke;
  background: rgb(255, 17, 0);
  margin: 4px;
  border: solid 1px rgb(255, 17, 0) ;
}
#cineName:hover {
  transform: scale(1.1); /* Aumenta el tamaño en un 10% en el hover */
  transition: transform 0.3s; /* Agrega una transición suave */
}
.crud{
margin: 5px;
display: flex;
justify-content: space-between;

}
.crudBoton {
  position: relative;
}
.crudBoton:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -35px; /* Ajusta la posición vertical según sea necesario */
  left: 32%;
  transform: translateX(-50%);
  background-color: #1f1b1b;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0.9;
  visibility: visible;
}
.crudButton{
  background: none;
  border: none;
}