/* header /
    / Estilo base para el contenedor del menú */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Establece la altura mínima del viewport */
}

body {
    background-color: #DBCBCB;
}

header {
    font-family: sans-serif;
    background-color: #9E2A2A;
    color: aliceblue;
    padding: 10px;
}

header img {
    width: 50px;
}

main {
    height: 100%;
    flex-grow: 1;
}

section {
    margin-bottom: 50px;
}

.contimgtitu {
    background-color: #063BC3;
}

.titulo {
    margin: 0 auto;
    width: 100px;
}

.filtros {
    padding: 20px 0;
    position: relative;
}

.button1 {
    width: 350px;
    margin: auto;
    position: absolute;
    top: 97%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.card {
    margin: 10px;

}

.button2 {
    width: 350px;
    margin: auto;
    position: relative;
    left: 0%;
}

@media (max-width: 767px) {
    .button1 {
        left: 50%;
    }

    .button2 {
        position: absolute;
        left: 25%;
    }
}